@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?lceuay");
  src: url("/fonts/icomoon.eot?lceuay#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?lceuay") format("truetype"),
    url("/fonts/icomoon.woff?lceuay") format("woff"),
    url("/fonts/icomoon.svg?lceuay#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "\e900";
}
.icon-lamp:before {
  content: "\e900";
}
.icon-idea:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-github:before {
  content: "\eab0";
}

.icon-stack {
  font-size: 30px;
  color: #2c98f0;
}

.icon-display {
  font-size: 30px;
  color: #ec5453;
}

.icon-cloud {
  font-size: 30px;
  color: #ff9900;
}

.icon-idea {
  font-size: 30px;
  color: #f9bf3f;
}

.contact-icon {
  font-size: 30px;
  color: #2c98f0;
}
